CREATE TABLE analytics_events (
	id INTEGER NOT NULL, 
	event_type VARCHAR NOT NULL, 
	user_id VARCHAR NOT NULL, 
	recipe_id VARCHAR, 
	timestamp DATETIME, 
	data JSON, 
	session_id VARCHAR, 
	device_type VARCHAR, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_analytics_events_event_type ON analytics_events (event_type);
CREATE INDEX ix_analytics_events_timestamp ON analytics_events (timestamp);
CREATE INDEX ix_analytics_events_recipe_id ON analytics_events (recipe_id);
CREATE INDEX ix_analytics_events_user_id ON analytics_events (user_id);
CREATE INDEX ix_analytics_events_session_id ON analytics_events (session_id);
CREATE TABLE feature_usage (
	id INTEGER NOT NULL, 
	feature_name VARCHAR NOT NULL, 
	user_id VARCHAR NOT NULL, 
	category VARCHAR, 
	start_time DATETIME, 
	end_time DATETIME, 
	time_spent INTEGER, 
	completed BOOLEAN, 
	abandonment_point VARCHAR, 
	data JSON, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_feature_usage_category ON feature_usage (category);
CREATE INDEX ix_feature_usage_feature_name ON feature_usage (feature_name);
CREATE INDEX ix_feature_usage_user_id ON feature_usage (user_id);
CREATE TABLE value_metrics (
	id INTEGER NOT NULL, 
	metric_name VARCHAR NOT NULL, 
	user_id VARCHAR NOT NULL, 
	recipe_id VARCHAR, 
	feature_id VARCHAR, 
	score FLOAT, 
	feedback VARCHAR, 
	timestamp DATETIME, 
	data JSON, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_value_metrics_user_id ON value_metrics (user_id);
CREATE INDEX ix_value_metrics_recipe_id ON value_metrics (recipe_id);
CREATE INDEX ix_value_metrics_feature_id ON value_metrics (feature_id);
CREATE INDEX ix_value_metrics_metric_name ON value_metrics (metric_name);
CREATE TABLE feature_metadata (
	id INTEGER NOT NULL, 
	feature_name VARCHAR NOT NULL, 
	category VARCHAR NOT NULL, 
	description VARCHAR, 
	created_at DATETIME, 
	last_updated DATETIME, 
	is_active BOOLEAN, 
	data JSON, 
	PRIMARY KEY (id)
);
CREATE UNIQUE INDEX ix_feature_metadata_feature_name ON feature_metadata (feature_name);
