CREATE TABLE users (
	id INTEGER NOT NULL, 
	username VARCHAR(50) NOT NULL, 
	email VARCHAR(120) NOT NULL, 
	password_hash VARCHAR(128), 
	is_active BOOLEAN, 
	last_login DATETIME, 
	display_name VARCHAR(50), 
	bio VARCHAR(500), 
	avatar_url VARCHAR(200), 
	skill_level VARCHAR(12), 
	user_preferences JSON, 
	recipe_count INTEGER, 
	review_count INTEGER, 
	follower_count INTEGER, 
	following_count INTEGER, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	deleted_at DATETIME, 
	is_deleted BOOLEAN NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email)
);
CREATE TABLE vault_recipes (
	id INTEGER NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	slug VARCHAR(250) NOT NULL, 
	source_url VARCHAR(500), 
	author VARCHAR(100), 
	image_url VARCHAR(500), 
	description TEXT, 
	ingredients JSON NOT NULL, 
	instructions JSON NOT NULL, 
	equipment_needed JSON, 
	serving_size INTEGER, 
	prep_time INTEGER, 
	cook_time INTEGER, 
	total_time INTEGER, 
	calories_per_serving INTEGER, 
	protein FLOAT, 
	carbs FLOAT, 
	fat FLOAT, 
	fiber FLOAT, 
	sugar FLOAT, 
	sodium FLOAT, 
	cuisine_type VARCHAR(50), 
	meal_type VARCHAR(50), 
	dish_type VARCHAR(50), 
	difficulty VARCHAR(11), 
	tags JSON, 
	dietary_info JSON, 
	rating_count INTEGER, 
	average_rating FLOAT, 
	favorite_count INTEGER, 
	view_count INTEGER, 
	cook_count INTEGER, 
	difficulty_score FLOAT, 
	complexity_score FLOAT, 
	cost_per_serving FLOAT, 
	value_score FLOAT, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	deleted_at DATETIME, 
	is_deleted BOOLEAN NOT NULL, 
	PRIMARY KEY (id)
);
CREATE UNIQUE INDEX ix_vault_recipes_slug ON vault_recipes (slug);
CREATE INDEX ix_vault_recipes_cuisine_rating ON vault_recipes (cuisine_type, average_rating);
CREATE INDEX ix_vault_recipes_difficulty_time ON vault_recipes (difficulty, total_time);
CREATE INDEX ix_vault_recipes_rating_count ON vault_recipes (average_rating, rating_count);
CREATE TABLE user_recipe_interactions (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	interaction_type VARCHAR(5), 
	taste_rating VARCHAR(9), 
	cooking_time_actual INTEGER, 
	difficulty_reported VARCHAR(11), 
	notes TEXT, 
	texture_rating FLOAT, 
	appearance_rating FLOAT, 
	would_cook_again BOOLEAN, 
	modifications_made JSON, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id)
);
CREATE TABLE user_preferences (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	dietary_restrictions JSON, 
	dietary_preferences JSON, 
	disliked_ingredients JSON, 
	favorite_cuisines JSON, 
	cooking_skill_level VARCHAR(12), 
	preferred_cooking_time INTEGER, 
	household_size INTEGER, 
	budget_preference VARCHAR(8), 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE user_cooking_history (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	cooked_at DATETIME NOT NULL, 
	success_level VARCHAR(7), 
	modifications JSON, 
	notes TEXT, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id)
);
CREATE TABLE user_taste_profiles (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	flavor_preferences JSON, 
	texture_preferences JSON, 
	cuisine_affinities JSON, 
	ingredient_affinities JSON, 
	seasonal_preferences JSON, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE recipe_recommendation_logs (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	recommendation_score FLOAT, 
	recommendation_factors JSON, 
	user_action VARCHAR(5), 
	context JSON, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id)
);
