CREATE TABLE vault_recipes (
	id INTEGER NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	slug VARCHAR(250) NOT NULL, 
	source_url VARCHAR(500), 
	status VARCHAR(9), 
	cuisine_type VARCHAR(14), 
	dietary_restrictions JSON, 
	dietary_preferences JSON, 
	ingredients JSON NOT NULL, 
	instructions JSON NOT NULL, 
	equipment_needed JSON, 
	serving_size INTEGER, 
	prep_time INTEGER, 
	cook_time INTEGER, 
	total_time INTEGER, 
	calories_per_serving INTEGER, 
	macronutrients JSON, 
	micronutrients JSON, 
	difficulty_score FLOAT, 
	complexity_score FLOAT, 
	estimated_cost FLOAT, 
	seasonal_score FLOAT, 
	sustainability_score FLOAT, 
	ai_confidence_score FLOAT, 
	community_rating FLOAT, 
	review_count INTEGER, 
	favorite_count INTEGER, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	deleted_at DATETIME, 
	is_deleted BOOLEAN NOT NULL, parent_recipe_id INTEGER 
            REFERENCES vault_recipes(id) ON DELETE SET NULL, similarity_threshold FLOAT NOT NULL DEFAULT 0.8, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_vault_recipes_community_rating ON vault_recipes (community_rating);
CREATE INDEX ix_vault_recipes_favorite_count ON vault_recipes (favorite_count);
CREATE INDEX ix_vault_recipes_status ON vault_recipes (status);
CREATE INDEX idx_recipe_created_at ON vault_recipes (created_at);
CREATE INDEX ix_vault_recipes_cuisine_type ON vault_recipes (cuisine_type);
CREATE INDEX idx_recipe_cuisine_type ON vault_recipes (cuisine_type);
CREATE INDEX idx_recipe_difficulty ON vault_recipes (difficulty_score);
CREATE INDEX idx_recipe_cost_time ON vault_recipes (estimated_cost, total_time);
CREATE INDEX idx_recipe_search ON vault_recipes (title, ingredients);
CREATE INDEX ix_vault_recipes_total_time ON vault_recipes (total_time);
CREATE INDEX ix_vault_recipes_calories_per_serving ON vault_recipes (calories_per_serving);
CREATE INDEX idx_active_recipes ON vault_recipes (id);
CREATE INDEX ix_vault_recipes_difficulty_score ON vault_recipes (difficulty_score);
CREATE INDEX ix_recipes_cost_rating ON vault_recipes (estimated_cost, community_rating DESC);
CREATE UNIQUE INDEX ix_vault_recipes_slug ON vault_recipes (slug);
CREATE INDEX ix_vault_recipes_estimated_cost ON vault_recipes (estimated_cost);
CREATE INDEX ix_recipes_difficulty_time ON vault_recipes (difficulty_score, total_time);
CREATE INDEX ix_recipes_calories_rating ON vault_recipes (calories_per_serving, community_rating DESC);
CREATE INDEX ix_recipes_rating_reviews ON vault_recipes (community_rating DESC, review_count DESC);
CREATE TABLE recipe_reviews (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	rating FLOAT NOT NULL, 
	title VARCHAR(200), 
	content TEXT, 
	helpful_votes INTEGER, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	deleted_at DATETIME, 
	is_deleted BOOLEAN NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE cooking_logs (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	success_rating FLOAT, 
	notes TEXT, 
	modifications JSON, 
	cooking_time INTEGER, 
	serving_size INTEGER, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE recipe_signatures (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	key_ingredients JSON NOT NULL, 
	method_signature JSON NOT NULL, 
	texture_profile JSON NOT NULL, 
	timing_profile JSON NOT NULL, 
	confidence_score FLOAT NOT NULL, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE recipe_categories (
	id INTEGER NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR, 
	parent_category_id INTEGER, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(parent_category_id) REFERENCES recipe_categories (id) ON DELETE SET NULL
);
CREATE TABLE recipe_titles (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	title VARCHAR NOT NULL, 
	is_primary BOOLEAN NOT NULL, 
	language_code VARCHAR(5), 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE recipe_category_assignments (
	recipe_id INTEGER NOT NULL, 
	category_id INTEGER NOT NULL, 
	confidence_score FLOAT NOT NULL, 
	is_primary BOOLEAN NOT NULL, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (recipe_id, category_id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE, 
	FOREIGN KEY(category_id) REFERENCES recipe_categories (id) ON DELETE CASCADE
);
