CREATE TABLE recipes (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            ingredients TEXT NOT NULL,
            instructions TEXT NOT NULL,
            prep_time TEXT,
            cook_time TEXT,
            total_time TEXT,
            yields TEXT,
            author TEXT,
            source_url TEXT,
            user_rating TEXT,
            source_attribution TEXT,
            created_at TEXT NOT NULL
        );
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
CREATE TABLE recipe_titles (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	title VARCHAR NOT NULL, 
	is_primary BOOLEAN DEFAULT '0' NOT NULL, 
	language_code VARCHAR(5), 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT fk_recipe_titles_recipe FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE IF NOT EXISTS "vault_recipes" (
            id INTEGER NOT NULL, 
            title VARCHAR NOT NULL,
            slug VARCHAR NOT NULL,
            source_url VARCHAR,
            status VARCHAR NOT NULL DEFAULT 'PUBLISHED',
            cuisine_type VARCHAR,
            dietary_restrictions JSON,
            dietary_preferences JSON,
            ingredients JSON NOT NULL,
            instructions JSON NOT NULL,
            equipment_needed JSON,
            serving_size INTEGER,
            prep_time INTEGER,
            cook_time INTEGER,
            total_time INTEGER,
            calories_per_serving FLOAT,
            macronutrients JSON,
            micronutrients JSON,
            difficulty_score FLOAT,
            complexity_score FLOAT,
            estimated_cost FLOAT,
            seasonal_score FLOAT,
            sustainability_score FLOAT,
            ai_confidence_score FLOAT,
            community_rating FLOAT,
            review_count INTEGER NOT NULL DEFAULT 0,
            favorite_count INTEGER NOT NULL DEFAULT 0,
            created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
            updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
            deleted_at DATETIME,
            parent_recipe_id INTEGER, similarity_threshold FLOAT DEFAULT '0.8' NOT NULL,
            PRIMARY KEY (id),
            FOREIGN KEY(parent_recipe_id) REFERENCES "vault_recipes"(id) ON DELETE SET NULL
        );
CREATE INDEX idx_recipe_titles_recipe ON recipe_titles (recipe_id);
CREATE INDEX idx_recipe_titles_title ON recipe_titles (title);
CREATE INDEX idx_recipe_titles_language ON recipe_titles (language_code);
CREATE INDEX idx_recipe_parent ON vault_recipes (parent_recipe_id);
CREATE INDEX idx_recipe_status ON vault_recipes (status);
CREATE INDEX idx_recipe_title ON vault_recipes (title);
CREATE UNIQUE INDEX idx_recipe_slug ON vault_recipes (slug);
CREATE INDEX idx_recipe_cuisine ON vault_recipes (cuisine_type);
CREATE INDEX idx_recipe_created ON vault_recipes (created_at);
CREATE INDEX idx_recipe_updated ON vault_recipes (updated_at);
CREATE UNIQUE INDEX uix_recipe_titles_primary 
        ON recipe_titles(recipe_id) 
        WHERE is_primary = 1
    ;
CREATE TABLE recipe_categories (
	id INTEGER NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR, 
	parent_category_id INTEGER, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(parent_category_id) REFERENCES recipe_categories (id) ON DELETE SET NULL
);
CREATE TABLE recipe_signatures (
	id INTEGER NOT NULL, 
	recipe_id INTEGER NOT NULL, 
	key_ingredients JSON NOT NULL, 
	method_signature JSON NOT NULL, 
	texture_profile JSON NOT NULL, 
	timing_profile JSON NOT NULL, 
	confidence_score FLOAT NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE
);
CREATE TABLE recipe_category_assignments (
	recipe_id INTEGER NOT NULL, 
	category_id INTEGER NOT NULL, 
	confidence_score FLOAT NOT NULL, 
	is_primary BOOLEAN DEFAULT '0' NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (recipe_id, category_id), 
	FOREIGN KEY(recipe_id) REFERENCES vault_recipes (id) ON DELETE CASCADE, 
	FOREIGN KEY(category_id) REFERENCES recipe_categories (id) ON DELETE CASCADE
);
CREATE INDEX idx_recipe_categories_parent ON recipe_categories (parent_category_id);
CREATE INDEX idx_recipe_signatures_recipe ON recipe_signatures (recipe_id);
CREATE INDEX idx_category_assignments_recipe ON recipe_category_assignments (recipe_id);
CREATE INDEX idx_category_assignments_category ON recipe_category_assignments (category_id);
CREATE UNIQUE INDEX uix_recipe_primary_category ON recipe_category_assignments (recipe_id, is_primary) WHERE is_primary = 1;
